language: c
dist: xenial

env:
    - SMVERSION=1.10
    - SMVERSION=1.11

matrix:
    fast_finish: true
    allow_failures:
        - env: SMVERSION=1.11

before_install:
    - sudo apt-get update
    - sudo apt-get install gcc-multilib lib32stdc++6 lib32z1 lynx

script:
    - ./compile.sh

notifications:
    email: false
